@using Azimuth.Infrastructure
@using Azimuth.Infrastructure.Concrete
@model Azimuth.ViewModels.SettingsViewModel

@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div id="mainRow" class="row">
        <div id="SN" class="stuck">
            <div id="relogin" class="alert alert-danger" style="display: none; margin-top: 10px; z-index: 1001;">
                <p id="error"> Your time has expired, please login again. </p>
                @Html.ActionLink("OK", "ConnectAccount", "Account", null, new { @class = "btn btn-danger btn-large" })
            </div>
            
            <h3>Tracks</h3>
            <div class="tabbable">
                <ul class="nav nav-tabs" style="width: 90%">
                    <li class="active"><a href="#user-accounts" data-toggle="tab">Accounts</a></li>
                    @foreach (var sn in Model.ConnectedNetworks)
                    {
                        <li><a href="#@sn.Name" data-toggle="tab" data-provider="@sn.Name" data-reloginurl="@Url.Action("ConnectAccount", "Account", new { provider = @sn.Name, returnUrl = @Url.Action("Index", "Settings") })" class="providerBtn">@sn.Name</a></li>
                    }
                </ul>

                <div class="tab-content" style="margin-top: 10px">
                    <div class="tab-pane fade active in" id="user-accounts">
                        @foreach (var sn in Model.AvailableNetworks)
                        {
                            @Html.ActionLink(sn.Name, "ConnectAccount", "Account", new { provider = sn.Name, returnUrl = @Url.Action("Index", "Settings") }, new { @class = "btn btn-primary btn-large", @style="margin-left: 5px"})
                        }
                    </div>
                    @foreach (var sn in Model.ConnectedNetworks)
                    {
                        <div class="tab-pane fade" id="@sn.Name">
                            @if (AzimuthIdentity.Current.UserCredential.SocialNetworkName != sn.Name)
                            {
                                @Html.ActionLink("Disconnect", "Disconnect", new { provider = sn.Name }, new { @class = "btn btn-danger btn-large" })
                            }            
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
    <script type="text/javascript" src="../../Scripts/settingsManager.js"></script>
}