@using Azimuth.Infrastructure
@model Azimuth.ViewModels.SettingsViewModel

@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Settings</h2>
<div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#user-accounts" data-toggle="tab">Accounts</a></li>
        @foreach (var sn in Model.ConnectedNetworks)
        {
            <li><a href="#@sn.Name" data-toggle="tab" data-provider="@sn.Name" data-reloginurl="@Url.Action("ConnectAccount", "Account", new { provider = @sn.Name, returnUrl = @Url.Action("Index", "Settings") })" class="providerBtn">@sn.Name</a></li>
        }
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade active in" id="user-accounts">
            @foreach (var sn in Model.AvailableNetworks)
            {
                @Html.ActionLink(sn.Name, "ConnectAccount", "Account", new { provider = sn.Name, returnUrl = @Url.Action("Index", "Settings") }, new { @class = "btn btn-primary btn-large" })
            }
        </div>
        @foreach (var sn in Model.ConnectedNetworks)
        {
            <div class="tab-pane fade" id="@sn.Name">
                @Html.DisplayFor(x => sn.Name)
                @if (AzimuthIdentity.Current.UserCredential.SocialNetworkName != sn.Name)
                {
                    @Html.ActionLink("Disconnect", "Disconnect", new { provider = sn.Name }, new { @class = "btn btn-danger btn-large" })
                }
                @Html.Partial("_UserTracksPartial", new { provider = sn.Name })
            </div>
        } 
    </div>
</div>
<div id="relogin" style="display: none">
    <p id="error"> Your time has expired, please login again. </p>
    @Html.ActionLink("OK", "ConnectAccount", "Account", null, new { @class = "btn btn-danger btn-large" })
</div>

@section scripts
{
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
    
    <script id="trackTemplate" type="text/x-jQuery-tmpl">
        <tr>
            <td>${artist}</td>
            <td>${title}</td>
            <td><input type="checkbox"></td>
            <td style="display: none" id="trackId">${id}</td>
        </tr>
    </script>

    <script>
        $(document).ready(
            $('.providerBtn').click(function(e) {
                var provider = $(e.target).data('provider');
                var reloginUrl = $(e.target).data('reloginurl');
                console.log(provider);
                $("#tracks > tr").remove();
                $.ajax({
                    url: '/api/usertracks?provider=' + provider,
                    success: function(tracks) {
                        if (typeof tracks.Message === 'undefined') {
                            console.log(tracks);
                            $("#relogin").hide();
                            var list = $('#tracks');
                            for (var i = 0; i < tracks.length; i++) {
                                var track = tracks[i];
                                list.append($("#trackTemplate").tmpl(track).appendTo("#tracks"));
                            }
                        } else {
                            $("#relogin").show();
                            var reloginContainer = $('#relogin');
                            reloginContainer.find('a').attr('href', reloginUrl);
                        }
                    }
                });
            })
        );
    </script>

    <script>
        $(document).ready(function() {
            $('#applyBtn').click(function(e) {
                var provider = $(e.target).data('provider');
                var tableControl = document.getElementById('tracksTable');
                var tracks = [];
                var accessibilty = ($('#setAccessibilty').val() === "Private" ? 0 : 1);
                $('input:checkbox:checked', tableControl).each(function() {
                    tracks.push($(this).closest('tr').find('#trackId').text());
                }).get();
                console.log(tracks);
                console.log($('#inputPlaylistName').val());

                $.ajax({
                    url: '/api/usertracks?provider='+provider,
                    type: 'POST',
                    data: JSON.stringify({
                        "Name": $('#inputPlaylistName').val(),
                        "Accessibilty": accessibilty,
                        "TrackIds": tracks
                    }) + JSON.stringify({ "Provider": provider }),
                    dataType: 'json',
                    contentType: 'application/json',
                    async: false
                });
            });
        })
    </script>
}