@using Azimuth.Infrastructure
@model Azimuth.ViewModels.SettingsViewModel

@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div id="mainRow" class="row">
        <div id="playlists" class="stuck draggable">
            <h3>Playlists</h3>
            <input class="form-control" id="searchPlaylistName" placeholder="Enter playlist name for search">
            
            <div class="list accordion" id="playlistsTable">
                <div class="tableTitle">My Playlists</div>
                <div class="tableHeader">
                    <span>Artist</span>
                    <span>Accessibility</span>
                </div>
            </div>
            
            <a class="btn btn-primary" id="backToPlaylistsBtn" style="display:none; margin-top: 10px">&laquo;Back</a>
            <div id="playlistTracks" style="display: none;" class="vkMusicTable"></div>

            <a class="btn btn-primary" id="createNewPlaylistBtn" style="display:none;"></a>
        </div>
        <div id="separator" class="stuck">
            <div id="buttons">
                <img class="btn btn-primary" src="~/Images/media_prev.png" />
                <div class="spacer"></div>
                <img class="btn btn-primary" src="~/Images/media_play.png" />
                <div class="spacer"></div>
                <img class="btn btn-primary" src="~/Images/media_next.png" />
            </div>
            <span id="volumeImg"></span>
            <div id="volume" class="dragdealer">
                <div class="handle"></div>
            </div>
        </div>
        <div id="SN">
            <h3>Tracks</h3>
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#user-accounts" data-toggle="tab">Accounts</a></li>
                    @foreach (var sn in Model.ConnectedNetworks)
                    {
                        <li><a href="#@sn.Name" data-toggle="tab" data-provider="@sn.Name" data-reloginurl="@Url.Action("ConnectAccount", "Account", new { provider = @sn.Name, returnUrl = @Url.Action("Index", "Settings") })" class="providerBtn">@sn.Name</a></li>
                    }
                </ul>

                <div class="tab-content" style="margin-top: 10px">
                    <div class="tab-pane fade active in" id="user-accounts">
                        @foreach (var sn in Model.AvailableNetworks)
                        {
                            @Html.ActionLink(sn.Name, "ConnectAccount", "Account", new { provider = sn.Name, returnUrl = @Url.Action("Index", "Settings") }, new { @class = "btn btn-primary btn-large", @style="margin-left: 5px"})
                        }
                    </div>
                    @foreach (var sn in Model.ConnectedNetworks)
                    {
                        <div class="tab-pane fade" id="@sn.Name">
                            @Html.DisplayFor(x => sn.Name)
                            @if (AzimuthIdentity.Current.UserCredential.SocialNetworkName != sn.Name)
                            {
                                @Html.ActionLink("Disconnect", "Disconnect", new { provider = sn.Name }, new { @class = "btn btn-danger btn-large" })
                            }
                            @Html.Partial("_UserTracksPartial", new { provider = sn.Name })
                        </div>
                    }
                </div>
            </div>
            <div id="relogin" class="alert alert-danger" style="display: none; margin-top: 10px">
                <p id="error"> Your time has expired, please login again. </p>
                @Html.ActionLink("OK", "ConnectAccount", "Account", null, new { @class = "btn btn-danger btn-large" })
            </div>
        </div>
    </div>
    <div class="itemsContainer tableRow" id="itemsContainer" ></div>
    <div id="contextMenu"></div>
    <div class="tableRow draggable-item track draggable-stub" id="draggableStub"></div></div>
@section scripts
{
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
    <script type="text/javascript" src="../../Scripts/settingsManager.js"></script>
    <script type="text/javascript" src="../../Scripts/work.with.playlist.js"></script>
    <script type="" src="../../Scripts/drag&drop.js"></script>
    
    @*<script>
        document.oncontextmenu = function () {
            return false;
        }
    </script>*@   
    <script>
        var audio = new Audio();

        function _playTrack() {
            var url = $(this).parent().children('#url').text();
            if (audio.paused || audio.src != url) {
                audio.setAttribute('src', url);
                audio.play();
            } else {
                audio.pause();
            }
        };
    </script>

    <script>
        var volume = new Dragdealer('volume', {
            vertical: true,
            horizontal: false,
            bottom: 4,
            animationCallback: function(x, y) {
                var t = Math.round(y * 100);
                if (y >= 0 && y <= 1) {
                    audio.volume = 1 - y;
                }
                if (t <= 33) {
                    $('#volumeImg').css('background-position', '0 0');
                } else if (t <= 66) {
                    $('#volumeImg').css('background-position', '0 -40px');
                } else if (t === 100) {
                    $('#volumeImg').css('background-position', '0 -120px');
                } else {
                    $('#volumeImg').css('background-position', '0 -79px');
                }
            }
        });
        volume.setValue(0, 0.5);
    </script>

    <script id="trackTemplate" type="text/x-jQuery-tmpl">
        <div class="tableRow draggable-item track vk-item">
            <div class="glyphicon glyphicon-play btn btn-default track-play-btn"></div>
            <div class="track-description">
                <div class="track-info">
                    <span>${artist}</span>
                </div>
                <div class="track-title">${title}</div>
            </div>
            <div class="track-duration">${duration}</div>
            <div style="display: none" id="track-url">${url}</div>
            <div style="display: none" id="trackId">${id}</div>
        </div>
    </script>
    <script id="playlistTrackTemplate" type="text/x-jQuery-tmpl">
        <div class="tableRow draggable-item track">
            <div class="glyphicon glyphicon-play btn btn-default track-play-btn"></div>
            <div class="track-description">
                <div class="track-info">
                    <span>${Artist}</span>
                </div>
                <div class="track-title">${Name}</div>
            </div>
            <div class="track-duration">${Duration}</div>
            <div style="display: none" id="track-url">${Url}</div>
            <div style="display: none" id="trackId">${Id}</div>
        </div>
    </script>
    <script id="playlistTemplate" type="text/x-jQuery-tmpl">
        <div class="tableRow playlist">
            <span>${Name}</span>
            <span>${Accessibilty}</span>
            <span style="display: none" id="playlistId">${Id}</span>
        </div>
        <div id="playlistTracksTable" class="draggable-list" style="display: none"></div>
    </script>
    
    <script id="contextmenuTemplate" type="text/x-JQuery-tmpl">
        <div id="${id}" class="contextMenuActionName">${name}</div>
    </script>
}