@using Azimuth.Infrastructure
@model Azimuth.ViewModels.SettingsViewModel

@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div id="mainRow" class="row">
        <div id="playlists" class="stuck">
            <h3>Playlists</h3>
            <input class="form-control" id="searchPlaylistName" placeholder="Enter playlist name for search">
            
            <div class="table" id="playlistsTable">
                <div class="tableTitle">My Playlists</div>
                <div class="tableHeader">
                    <div class="cell">Name</div>
                    <div class="cell">Accessibility</div>
                </div>
                @*<div class=""></div>*@
            </div>

            <a class="btn btn-primary" id="createNewPlaylistBtn"></a>
        </div>
        <div id="separator" class="stuck">
            <div id="buttons">
                <img src="~/Images/media_prev.png" />
                <div class="spacer"></div>
                <img src="~/Images/media_play.png" />
                <div class="spacer"></div>
                <img src="~/Images/media_next.png" />
            </div>
            <span id="volumeImg"></span>
            <div id="volume" class="dragdealer">
                <div class="handle"></div>
            </div>
        </div>
        <div id="SN">
            <h3>Tracks</h3>
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#user-accounts" data-toggle="tab">Accounts</a></li>
                    @foreach (var sn in Model.ConnectedNetworks)
                    {
                        <li><a href="#@sn.Name" data-toggle="tab" data-provider="@sn.Name" data-reloginurl="@Url.Action("ConnectAccount", "Account", new { provider = @sn.Name, returnUrl = @Url.Action("Index", "Settings") })" class="providerBtn">@sn.Name</a></li>
                    }
                </ul>

                <div class="tab-content" style="margin-top: 10px">
                    <div class="tab-pane fade active in" id="user-accounts">
                        @foreach (var sn in Model.AvailableNetworks)
                        {
                            @Html.ActionLink(sn.Name, "ConnectAccount", "Account", new { provider = sn.Name, returnUrl = @Url.Action("Index", "Settings") }, new { @class = "btn btn-primary btn-large" })
                        }
                    </div>
                    @foreach (var sn in Model.ConnectedNetworks)
                    {
                        <div class="tab-pane fade" id="@sn.Name">
                            @Html.DisplayFor(x => sn.Name)
                            @if (AzimuthIdentity.Current.UserCredential.SocialNetworkName != sn.Name)
                            {
                                @Html.ActionLink("Disconnect", "Disconnect", new { provider = sn.Name }, new { @class = "btn btn-danger btn-large" })
                            }
                            @Html.Partial("_UserTracksPartial", new { provider = sn.Name })
                        </div>
                    }
                </div>
            </div>
            <div id="relogin" style="display: none">
                <p id="error"> Your time has expired, please login again. </p>
                @Html.ActionLink("OK", "ConnectAccount", "Account", null, new { @class = "btn btn-danger btn-large" })
            </div>
        </div>
    </div>
    <div class="itemsContainer tableRow" id="itemsContainer"></div>
</div>
@section scripts
{
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
    
    <script>
        var volume = new Dragdealer('volume', {
            vertical: true,
            horizontal: false,
            bottom: 4,
            animationCallback: function(x, y) {
                var t = Math.round(y * 100);
                console.log(t);
                if (t <= 33) {
                    $('#volumeImg').css('background-position', '0 0');
                } else if (t <= 66) {
                    $('#volumeImg').css('background-position', '0 -40px');
                } else if (t === 100) {
                    $('#volumeImg').css('background-position', '0 -120px');
                } else {
                    $('#volumeImg').css('background-position', '0 -79px');
                }
            }
        });
        volume.setValue(0, 0.5);
    </script>

    <script id="trackTemplate" type="text/x-jQuery-tmpl">
        <div class="tableRow draggable-item">
            <div class="cell">${artist}</div>
            <div class="cell">${title}</div>
            <div class="cell"><input type="checkbox" checked="checked"></div>
            <div class="cell" style="display: none" id="trackId">${id}</div>
        </div>
    </script>
    <script id="playlistTrackTemplate" type="text/x-jQuery-tmpl">
        <div class="tableRow draggable-item">
            <div class="cell">${Artist}</div>
            <div class="cell">${Name}</div>
            <div class="cell">${Duration}</div>
        </div>
    </script>
    <script id="playlistTemplate" type="text/x-jQuery-tmpl">
        <div class="tableHeader">
            <div class="tableRow accordion">
                <div class="cell">${Name}</div>
                <div class="cell">${Accessibilty}</div>
                <div class="cell" style="display: none" id="playlistId">${Id}</div>
            </div>
            @*<p>1234567890</p>*@

            <div id="playlistTracksTable" class="table draggable-list" style="display: none"></div>
        </div>
    </script>
    <script>
        var playlists_global = [];
        var stringForCreateBtn = "Create new playlist ";
        var showPlaylists = function(playlists) {
            $('#playlistsTable').find(".tableHeader").remove();
            if (typeof (playlists) == 'undefined') { //Initial run to get playlists from db
                $.ajax({
                    url: '@Url.RouteUrl("DefaultApi", new {httproute = "", controller = "Playlists"})',
                    success: function(playlists) {
                        if (typeof playlists.Message === 'undefined') {
                            $("#relogin").hide();
                            playlists = playlists.Result;
                            var list = $('#playlistsTable');
                            for (var i = 0; i < playlists.length; i++) {
                                var playlist = playlists[i];
                                if (playlist.Accessibilty == 1)
                                    playlist.Accessibilty = "public";
                                else
                                    playlist.Accessibilty = "private";
                                playlists_global.push(playlist);
                                list.append($("#playlistTemplate").tmpl(playlist));
                            }
                        } else {
                            $("#relogin").show();
                            var reloginContainer = $('#relogin');
                            reloginContainer.find('a').attr('href', reloginUrl);
                        }

                        //$('.tableRow.accordion').parent().children('p').hide();
                        $('.tableRow.accordion').parent().children('.draggable-list').hide();
                        $(".tableRow.accordion").on("click", _getTracks);
                    }
                });
            } else { //using to print playlists after using filter
                if (playlists.length != 0) {
                    var list = $('#playlistsTable');
                    for (var i = 0; i < playlists.length; i++) {
                        var playlist = playlists[i];
                        if (playlist.Accessibilty == 1)
                            playlist.Accessibilty = "public";
                        else
                            playlist.Accessibilty = "private";
                        list.append($("#playlistTemplate").tmpl(playlist));

                        $('.tableRow.accordion').parent().children('.draggable-list').hide();
                        $(".tableRow.accordion").on("click", _getTracks);
                    }
                } else {
                    var $createBtn = $('#createNewPlaylistBtn');
                    $createBtn.show();
                    $createBtn.text(stringForCreateBtn + $('#searchPlaylistName').val());
                }
            }
        };

        function _getTracks() {
            var $dragList = $(this).parent().children('.draggable-list');

            if (!$(this).hasClass('active')) {
                $.ajax({
                    url: "https://localhost:44300/api/playlists/" + $(this).find('#playlistId').text(),
                    type: 'GET',
                    async: false,
                    success: function(playlistData) {
                        var tracks = playlistData.Result.Tracks;
                        //var list = $('.draggable-list');
                        var list = $dragList;
                        for (var i = 0; i < tracks.length; i++) {
                            var track = tracks[i];
                            $("#playlistTrackTemplate").tmpl(track).appendTo(list);
                        }
                        $('.draggable').makeDraggable();
                    }
                });
            }

            $(this).next(".draggable-list").slideToggle("slow");
            $(this).toggleClass("active");
        };

        $(document).on('PlaylistAdded', function(playlist) {
            console.log(playlist);
            playlists_global.push({ Name: playlist.Name, Accessibilty: playlist.Accessibilty });
            $('#searchPlaylistName').trigger('input');
        });

        $(document).ready(function() {
            showPlaylists();
            $('.providerBtn').click(function(e) {
                var provider = $(e.target).data('provider');
                var reloginUrl = $(e.target).data('reloginurl');
                console.log(provider);
                $("#tracks > tr").remove();
                $.ajax({
                    url: '/api/usertracks?provider=' + provider,
                    success: function(tracks) {
                        if (typeof tracks.Message === 'undefined') {
                            console.log(tracks);
                            $("#relogin").hide();
                            //var list = $('#tracksTable');
                            var list = $('.draggable-list');
                            for (var i = 0; i < tracks.length; i++) {
                                var track = tracks[i];
                                $("#trackTemplate").tmpl(track).appendTo(list);
                            }
                            $('.draggable').makeDraggable();
                        } else {
                            $("#relogin").show();
                            var reloginContainer = $('#relogin');
                            reloginContainer.find('a').attr('href', reloginUrl);
                        }
                    }
                });
            });
        });
    </script>

    <script>
        $(document).ready(function() {
            $('#createNewPlaylistBtn').hide();
            $('#createNewPlaylistBtn').click(function() {
                var playlistName = $('#searchPlaylistName').val();
                $.ajax({
                    url: '/api/playlists?name=' + playlistName + '&accessibilty=Public',
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json',
                    async: false
                });
                $('#createNewPlaylistBtn').hide();
                $(document).trigger({ type: 'PlaylistAdded', Name: playlistName, Accessibilty: 1 });
            });
            $('#applyBtn').click(function(e) {
                var provider = $(e.target).data('provider');
                var tableControl = document.getElementById('tracksTable');
                var tracks = [];
                var accessibilty = ($('#setAccessibilty').val() === "Private" ? 0 : 1);
                console.log(accessibilty);
                $('input:checkbox:checked', tableControl).each(function() {
                    tracks.push($(this).closest('.tableRow').find('#trackId').text());
                }).get();
                console.log(tracks);
                var playlistName = $('#inputPlaylistName').val();
                console.log(playlistName);

                $.ajax({
                    url: '/api/usertracks?provider=' + provider,
                    type: 'POST',
                    data: JSON.stringify({
                        "Name": playlistName,
                        "Accessibilty": accessibilty,
                        "TrackIds": tracks
                    }) + JSON.stringify({ "Provider": provider }),
                    dataType: 'json',
                    contentType: 'application/json',
                    async: false
                });
                $(document).trigger({ type: 'PlaylistAdded', Name: playlistName, Accessibilty: accessibilty });
            });
        });

        $(document).ready(function() {
            $('#checkall').click(function() {
                if ($(this).prop('checked'))
                    $('input:checkbox').prop('checked', true);
                else
                    $('input:checkbox').prop('checked', false);
            });
        });
        $(document).ready(function() {
            $('#searchPlaylistName').on('input', function(e) {
                $('#createNewPlaylistBtn').hide();
                var searchParam = $(this).val().toLocaleLowerCase();
                showPlaylists(playlists_global.filter(function(index) {
                    return (index.Name.toLocaleLowerCase().indexOf(searchParam) != -1);
                }));
            });
        });
    </script>

    <script src="../../Scripts/drag&drop.js" type=""></script>
}