@using Azimuth.Infrastructure
@using Azimuth.Infrastructure.Concrete
@model Azimuth.ViewModels.SettingsViewModel

@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div id="mainRow" class="row">
        <div id="playlists" class="stuck draggable">
            <h3>Playlists</h3>
            <input class="form-control" id="searchPlaylistName" placeholder="Enter playlist name for search">

            <div class="list accordion" id="playlistsTable">

                <div class="table-header">
                    <div class="table-title">My Playlists</div>
                    <div id="playlist-header-spinner" class="spinner"></div>
                </div>
            </div>
            <i id="create-playlist-lbl" style="display: none">Press enter to create new playlist</i>

            <a class="btn btn-primary" id="backToPlaylistsBtn" style="display:none; margin-top: 10px">&laquo;Back</a>
            <div id="playlistTracks" style="display: none;" class="draggable-list"></div>
        </div>
        <div id="separator" class="stuck">
            <div id="buttons">
                <img class="btn btn-primary" id="prevTrackBtn" src="~/Images/media_prev.png" />
                <div class="spacer"></div>
                <span id="playTrackBtn" class="btn btn-primary"></span>
                <div class="spacer"></div>
                <img class="btn btn-primary" id="nextTrackBtn" src="~/Images/media_next.png" />
            </div>
            <span id="volumeImg"></span>
            <div id="volumeSlider"></div>
        </div>
        <div id="SN" class="stuck">
            <div id="friends-body" style="display: none">
                <div id="friends-header" class="table-header">
                    <div id="friends-header-title" class="table-title">Friends</div>
                    <div id="friends-header-spinner" class="spinner"></div>
                </div>
                <div id="friends-container"></div>
            </div>
            <h3>Tracks</h3>
            <div class="tabbable">
                <ul class="nav nav-tabs" style="width: 90%">
                    <li class="active"><a href="#user-accounts" data-toggle="tab">Accounts</a></li>
                    @foreach (var sn in Model.ConnectedNetworks)
                    {
                        <li><a href="#@sn.Name" data-toggle="tab" data-provider="@sn.Name" data-reloginurl="@Url.Action("ConnectAccount", "Account", new { provider = @sn.Name, returnUrl = @Url.Action("Index", "Settings") })" class="providerBtn">@sn.Name</a></li>
                    }
                </ul>

                <div class="tab-content" style="margin-top: 10px">
                    <div class="tab-pane fade active in" id="user-accounts">
                        @foreach (var sn in Model.AvailableNetworks)
                        {
                            @Html.ActionLink(sn.Name, "ConnectAccount", "Account", new { provider = sn.Name, returnUrl = @Url.Action("Index", "Settings") }, new { @class = "btn btn-primary btn-large", @style="margin-left: 5px"})
                        }
                    </div>
                    @foreach (var sn in Model.ConnectedNetworks)
                    {
                        <div class="tab-pane fade" id="@sn.Name">
                            @if (AzimuthIdentity.Current.UserCredential.SocialNetworkName != sn.Name)
                            {
                                @Html.ActionLink("Disconnect", "Disconnect", new { provider = sn.Name }, new { @class = "btn btn-danger btn-large" })
                            }            
                            @Html.Partial("_UserTracksPartial", new { provider = sn.Name })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="itemsContainer tableRow" id="itemsContainer" ></div>
   @* <div class="tableRow draggable-item track draggable-stub" id="draggableStub"></div>*@</div>
@section scripts
{
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
    <script type="text/javascript" src="../../Scripts/settingsManager.js"></script>
    <script type="text/javascript" src="../../Scripts/audioManager.js"></script>
    <script type="text/javascript" src="../../Scripts/work.with.playlist.js"></script>
    <script type="" src="../../Scripts/drag&drop.js"></script>
    <script src="../../Scripts/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../../Scripts/sliderController.js"></script>

    <script id="trackTemplate" type="text/x-jQuery-tmpl">
        <div class="tableRow draggable-item track vk-item">
            <div class="glyphicon glyphicon-play btn btn-default track-play-btn"></div>
            <div class="track-description" data-title="${artist} ${title}">
                <div class="track-info">${artist}</div>
                <div class="track-title nowrap">${title}</div>
            </div>
            <div class="track-duration">${duration}</div>
            <div class="track-remaining" style="display: none"></div>
            <div style="display: none" class="track-url">${url}</div>
            <div style="display: none" class="trackId">${id}</div>
        </div>
    </script>

    <script id="playlistTrackTemplate" type="text/x-jQuery-tmpl">
        <div class="tableRow draggable-item track">
            <div class="glyphicon glyphicon-play btn btn-default track-play-btn"></div>
            <div class="track-description" data-title="${Artist} ${Name}">
                <div class="track-info">${Artist}</div>
                <div class="track-title nowrap" style="text-overflow: ellipsis">${Name}</div>
            </div>
            <div class="track-duration nowrap">${Duration}</div>
            <div class="track-remaining" style="display: none"></div>
            <div style="display: none" class="track-url">${Url}</div>
            <div style="display: none" class="trackId">${Id}</div>
        </div>
    </script>
    
    <script id="friendsTemplate" type="text/x-jQuery-tmpl">
        <div class="friend">
            <div class="friend-photo">
                <img src="${photo_100}" width="100" height="100" />
            </div>
            <div class="friend-initials">
                <span>${last_name}</span>
                <span>${first_name}</span>
            </div>
            <div class="friend-bdate">Birthdate: ${bdate}</div>
            <div сlass="friend-inhabitation">
                <span>${city}</span>
                <span>${country}</span>
            </div>
            <div style="display: none" class="friend-id">${id}</div>
        </div> 
    </script>

    <script id="playlistTemplate" type="text/x-jQuery-tmpl">
        <div class="tableRow playlist">
            <div class="playlist-logo">
                <img src="http://userserve-ak.last.fm/serve/500/210303/Coldplay.jpg" width="100" height="100"/>
            </div>
            <div class="playlist-title">${Name}</div>
            <div class="playlist-info">
                <span>Duration: ${Duration}</span>
                <span>Songs: ${ItemsCount}</span>
            </div>
            <div class="playlist-genres">
                <span class="label label-danger">${Genres[0]}</span>
                <span class="label label-warning">${Genres[1]}</span>
                <span class="label label-info">${Genres[2]}</span>
                <span class="label label-success">${Genres[3]}</span>
                <span class="label label-default">${Genres[4]}</span>
            </div>
            <span style="display: none" class="playlistId">${Id}</span>
        </div>
        <div id="playlistTracksTable" class="draggable-list" style="display: none"></div>
    </script>
    
    <script id="contextmenuTemplate" type="text/x-JQuery-tmpl">
        <div class="tableRow">
            <div id="${id}" class="contextMenuActionName">${name}</div>
            <div class="contextMenuExpander"></div>
        </div>
    </script>
    
    <script id="subContextmenuTemplate" type="text/x-JQuery-tmpl">
        <div class="tableRow">
            <div class="contextMenuActionName">${name}</div>
            <span class="playlistId" style="display: none">${id}</span>
        </div>
    </script>
}