@{
    var plailistId = ViewBag.playlistId;
    var isLiked = ViewBag.isLiked;
    var isFavourited = ViewBag.isFavourited;
    string likeAction, favouriteAction;
    if (Request.IsAuthenticated)
    {
        likeAction = isLiked ? "Unlike" : "Like";
        favouriteAction = isFavourited ? "Unfavourite" : "Favourite";
    }
    else
    {
        likeAction = "Like";
        favouriteAction = "Favourite";
    }
}


<div id="playlistFollowActions">
    @if (@Request.IsAuthenticated)
    {
        using (@Ajax.BeginForm("_ChangeLikeStatus", "PublicPlaylists", new AjaxOptions
        {
            HttpMethod = "Post",
            UpdateTargetId = "playlistFollowActions",
            InsertionMode = InsertionMode.Replace
        }))
        {
            <button class="btn btn-default" name="buttonType" id="likeBtn" value="like">@likeAction</button>
            <button class="btn btn-default" name="buttonType" id="favouriteBtn" value="favourite">@favouriteAction</button>
            <input type="hidden" name="playlistId" id="playlistId" value="@plailistId" />
            <input type="hidden" name="isLiked" id="isLiked" value="@isLiked.ToString()" />
            <input type="hidden" name="isFavourited" id="isFavourited" value="@isFavourited.ToString()" />
        }
    }
    else
    {
        using (@Html.BeginForm("NeedLogIn", "PublicPlaylists", FormMethod.Post))
        {
            <div id="playlistFollowActions">
                <button class="btn btn-default">Like</button>
                <button class="btn btn-default">Favourite</button>
            </div>
        }
    }
</div>

<script type="text/javascript" src="../../Scripts/jquery-1.10.2.js"></script>