@using Azimuth.Infrastructure.Concrete
@model Azimuth.Models.UserModel
@{
    var loggedUser = AzimuthIdentity.Current.UserCredential;
    var followAction = Model.Followers.Any(s => s.Id == loggedUser.Id) ? "Unfollow" : "Follow";
}

    @if (loggedUser.Id != Model.Id)
    {
        using (@Ajax.BeginForm("_FollowAction", "UserProfile", new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "followers-section", OnSuccess = "rebootPopup" }, new { @style = "display: block; margin-bottom: 1.4%; vertical-align: middle;" }))
        {
            <button class="btn btn-default" id="followBtn" style="margin: 2%; padding: 0">
                @if (followAction == "Follow")
                {
                    <img src="~/Images/follow.png" width="140" height="35" />
                }
                else
                {
                    <img src="~/Images/following.png" width="140" height="35" />
                }
            </button>
            @Html.Hidden("userId", @Model.Id)
            <input type="hidden" name="following" value="@followAction" />
        }
    }

    <div id="followers">
        <button class="btn btn-default btn-xs" id="followersBtn"><i class="fa fa-users"></i></button>
        <div class="count-label">@Model.Followers.Count</div>
        <div class="topFollowers">
            @Html.DisplayFor(x => x.Followers)
        </div>
    </div>
    <div id="following">
        <button class="btn btn-default btn-xs" id="followedBtn"><i class="fa fa-thumbs-up"></i></button>
        <div class="count-label">@Model.Following.Count</div>
        <div class="topFollowing">
            @Html.DisplayFor(x => x.Following)
        </div>
    </div>
    
    
<script>
    function rebootPopup() {
        document.manager.bindListeners();
    }
</script>