@using Azimuth.Infrastructure.Concrete
@model Azimuth.Models.UserModel
@{
    var loggedUser = AzimuthIdentity.Current.UserCredential;
    var followAction = Model.Followers.Any(s => s.Id == loggedUser.Id) ? "Unfollow" : "Follow";
}

@Styles.Render("../Content/UserProfile.css")

<div id="followers-section">
    <div id="followers">
        <button class="btn btn-default btn-xs" id="followersBtn"><i class="fa fa-users"></i> Followers</button>
        <div class="count-label">@Model.Followers.Count</div>
    </div>
    <div id="following">
        <button class="btn btn-default btn-xs" id="followedBtn"><i class="fa fa-thumbs-up"></i>Followed</button>
        <div class="count-label">@Model.Following.Count</div>
    </div>
    @if (loggedUser.Id != Model.Id)
    {
        using (@Ajax.BeginForm("_FollowAction", "UserProfile", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "followers-section", InsertionMode = InsertionMode.Replace }))
        {
            <button class="btn btn-default btn-xs" id="followBtn" >@followAction</button>
            @Html.Hidden("userId", @Model.Id)
            <input type="hidden" name="following" value="@followAction" />
                @*@Html.Hidden("following", @followAction)*@
        }
    }
    
    <div id="popup">
        <div class="data"></div>
    </div>
</div>