@model Azimuth.DataAccess.Entities.User
@{
    var isFollower = Convert.ToBoolean(ViewBag.isFollower);
    var action = isFollower ? "Unfollow" : "Follow";
}

<div>
    @Html.LabelFor(x => x.Followers)
    @Html.DisplayFor(x => x.Followers)
</div>
<div>
    @Html.LabelFor(x => x.Following)
    @Html.DisplayFor(x => x.Following)
</div>

<script type="text/javascript" src="../../Scripts/jquery-1.10.2.js"></script>

<script>
    
    function changeButton() {
        $('#follow-button').text("@action");
        $('#isFollower').val("@isFollower.ToString()");
    };
</script>