@model Azimuth.DataAccess.Entities.User
@{
    ViewBag.Title = "User profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div id="user-logo">
        <div class="user-photo">
            <img src="@Model.Photo" width="220" height="300"/>
        </div>
        <div class="user-screen-name">@Model.ScreenName</div>
        <ul class="user-listen-info">
            <li class="user-listeners">
                <div class="user-listen-count">1</div>
                <div class="user-listen-label">Listeners</div>
            </li>
            <li class="user-listening">
                <div class="user-listen-count">2</div>
                <div class="user-listen-label">Listening</div>
            </li>
        </ul>
        @Html.Partial("_FollowUserPartial", Model)
    </div>
    <div id="user-info">
        <div class="user-initials">
            <span class="info-label">Full name:</span>
            <span>@Model.Name.FirstName</span>
            <span>@Model.Name.LastName</span>
        </div>
        <div class="user-gender">
            <span class="info-label">Gender:</span><span>@Model.Gender</span>
        </div>
        <div class="user-birthdate">
            <span>Birthdate:</span><span>@Model.Birthday</span>
        </div>
        <div class="user-location">
            <span class="info-label">Location:</span>
            <span>@Model.Location.City</span>,
            <span>@Model.Location.Country</span>
        </div>
        <div class="user-email">
            <span>Email:</span>
            <span>@Model.Email</span>
        </div>
    </div>
</div>