@model Azimuth.DataAccess.Entities.User
@using Azimuth.Infrastructure.Concrete
@{
    ViewBag.Title = "User profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var loggedUser = AzimuthIdentity.Current.UserCredential;
}

<div class="container">
    <div id="user-logo">
        <div class="user-photo">
            <img src="@Model.Photo" width="220" height="300"/>
        </div>
        <div id="user-id" style="display: none">@Model.Id</div>
        <div class="user-screen-name">@Model.ScreenName</div>
        <ul class="user-listen-info">
            <li class="user-listeners">
                <div class="user-listen-count">1</div>
                <div class="user-listen-label">Listeners</div>
            </li>
            <li class="user-listening">
                <div class="user-listen-count">2</div>
                <div class="user-listen-label">Listening</div>
            </li>
        </ul>

        @using (@Ajax.BeginForm("_FollowInfo", "UserProfile", new AjaxOptions
        {
            HttpMethod = "Post",
            OnSuccess = "changeButton",
            UpdateTargetId = "user-follow-info",
            InsertionMode = InsertionMode.Replace,
        }))
        {
            if (loggedUser.Id != Model.Id)
            {
                var isFollower = Model.Followers.FirstOrDefault(x => x.Id == loggedUser.Id) != null;
                var action = isFollower ? "Unfollow" : "Follow";
                ViewBag.isFollower = isFollower.ToString();
                <button id="follow-button" class="btn btn-success" data-follo type="@isFollower">@action</button>
                <input type="hidden" name="userId" value=@Model.Id />
                <input type="hidden" name="isFollower" id="isFollower" value=@isFollower.ToString() />
            }
        }
        
        <div id="user-follow-info">
            @{ Html.RenderPartial("_UserFollowInfo"); }
        </div> 
    </div>
    <div id="user-info">
        <div class="user-initials">
            <span class="info-label">Full name:</span>
            <span>@Model.Name.FirstName</span>
            <span>@Model.Name.LastName</span>
        </div>
        <div class="user-gender">
            <span class="info-label">Gender:</span><span>@Model.Gender</span>
        </div>
        <div class="user-birthdate">
            <span>Birthdate:</span><span>@Model.Birthday</span>
        </div>
        <div class="user-location">
            <span class="info-label">Location:</span>
            @if (Model.Location != null)
            {
                <span>@Model.Location.City</span>
                <span>@Model.Location.Country</span>
            }
        </div>
        <div class="user-email">
            <span>Email:</span>
            <span>@Model.Email</span>
        </div>
    </div>
    <div id="notification-container">
        <div id="recent-activity"></div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
    <script type="text/javascript" src="../../Scripts/userProfileManager.js"></script>
    <script type="text/javascript" src="../../Scripts/workWithUserProfile.js"></script>
    <script src="../../Scripts/jquery.mCustomScrollbar.concat.min.js"></script>

    <script id="notificationTemplate" type="text/x-jQuery-tmpl">
        <div class="notification">
            <div class="message">
                <span>User</span>
                <a href="/UserProfile/Index/@loggedUser.Id">${UserFirstName}&nbsp;${UserLastName}</a>
                <span>${Message}</span>
                <a href="/UserProfile/Index/${RecentlyUserId}">${RecentlyUserFirstName}&nbsp;${RecentlyUserLastName}</a>
                <a href="/Share/Playlist/${RecentlyPlaylistId}">${RecentlyPlaylistName}</a>
            </div>
        </div>
    </script>
}