@using Azimuth.Infrastructure.Concrete
@model Azimuth.ViewModels.SettingsViewModel

@{
    ViewBag.Title = "User Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var loggedUser = AzimuthIdentity.Current.UserCredential;
}
<div class="container" id="user-container">
    @Html.HiddenFor(x => x.User.Id, new { id = "user-id" })
    <div class="col-md-3" id="user-photo">
        <img src="@Model.User.Photo" />
    </div>
    <div class="col-md-8" id="user-info">
        <div class="row well">
            <div id="user-name">
                @Html.DisplayFor(x => x.User.Name.FirstName)
                @Html.DisplayFor(x => x.User.Name.LastName)
            </div>
            <div id="followers-section">
                <div id="followers">
                    <button class="btn btn-default btn-xs"><i class="fa fa-users"></i> Followers</button>
                    <div class="count-label">@Model.User.Followers.Count</div>
                </div>
                <div id="following">
                    <button class="btn btn-default btn-xs"><i class="fa fa-thumbs-up"></i> Followed</button>
                    <div class="count-label">@Model.User.Following.Count</div>
                </div>
            </div>
            <div id="playlist-section">
                <div id="followers"><i class="fa fa-star"></i> @Model.User.PlaylistFollowing.Count Favorite playlists</div>
            </div>

            @if (loggedUser.Id == Model.User.Id)
            {
                <div id="social-container">
                    @foreach (var sn in @Model.SocialNetworks)
                    {
                        var active = @sn.IsConnected ? "active" : "";
                        var action = @sn.IsConnected ? "Disconnect" : "ConnectAccount";
                        <a href="@Url.Action(@action, "Account", new {provider = sn.SocialNetwork.Name, redirectUrl = @Url.Action("Index", "UserProfile")})">
                            <div class="social-network @active" id="@sn.SocialNetwork.Name">
                                @if (sn.IsConnected)
                                {
                                    <div class="active-mark"><i class="fa fa-check"></i></div>
                                }
                            </div>
                        </a>
                    }
                </div>
            }
        </div>
        <div class="row well">
            <div id="notification-container">
                <h3>Recent Activity:</h3>
                <div id="recent-activity"></div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
    <script type="text/javascript" src="../../Scripts/userProfileManager.js"></script>
    <script type="text/javascript" src="../../Scripts/workWithUserProfile.js"></script>
    <script src="../../Scripts/jquery.mCustomScrollbar.concat.min.js"></script>

    <script id="notificationTemplate" type="text/x-jQuery-tmpl">
        <div class="notification">
            <div class="message">
                <span>User</span>
                <a href="/UserProfile/Index/@Model.User.Id">${UserFirstName}&nbsp;${UserLastName}</a>
                <span>${Message}</span>
                <a href="/UserProfile/Index/${RecentlyUserId}">${RecentlyUserFirstName}&nbsp;${RecentlyUserLastName}</a>
                <a href="/Share/Playlist/${RecentlyPlaylistId}">${RecentlyPlaylistName}</a>
            </div>
        </div>
    </script>
}