@model Azimuth.Shared.Dto.FollowerModel


<div style="display: none" class="topPeople">
    <a href="@Url.Action("Index", "UserProfile", new{id = @Model.Id})" title="@Model.FirstName  @Model.LastName">
        <img src="@Model.Photo"/>
    </a>
    <a class="userName" href="@Url.Action("Index", "UserProfile", new{id = @Model.Id})" title="@Model.Name.FirstName  @Model.Name.LastName"><h4>@Model.Name.FirstName  @Model.Name.LastName</h4></a>
</div>

